/*Color template*/
.color-primary{
    color:$color-primary;
}
.color-primary-bg{
    background: $color-primary;
}
.color-second{
    color:$color-secondary;
}
.color-second-bg{
    background: $color-secondary;
}
.color-white{
    color: $color-white;
}
.color-white-bg{
    background: $color-white;
}